body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #7f2b24;

  height: max-content;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  display: flex;
}

nav {
  display: flex;
  background-color: #a52a2a;
  height: 6.5rem;
  width: 100%;
  gap: 4rem;
  flex-direction: row;
  align-items: center;
  font-family: "BUNGEE";
  justify-content: space-evenly;
}

nav a {
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(236, 149, 36);
  transition: 750ms;
}

/* pouze visual */

.vyhledávání {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 1vh;  
  width: 100%;
  border-radius: 12vw;
  font-size: 1.5rem;
}

.vyhledávání input {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.25vw;
}

/* pouze visual */


.container {
  display: flex;
  position: absolute;
  gap: -20rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 38%;
  width: 40%; 
  height: 35%;
  border-radius: 2rem;
  background-color: #7f2b24;
  box-shadow: #1d06066c 0px 0px 40px;
  padding: 3rem;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: left;
}

#container-main button{
  background-color: #a52a2a;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  width: 20%;
  height: auto;
  display: flex;
  position: relative;
  bottom: -25%;
}

.container-main p,h1{
  width: 50%;
}
